@page
@using TorneoFutbol.App.Dominio
@model TorneoFutbol.App.Frontend.Pages.Migrantes.IndexModel
@{
}
<form method="get">
<div class="form-inline">
    <label class="sr-only" for="g">Filtro</label>
    <input type="text" name="g" id="g" asp-for="@Model.gActual"  class="form-control mb-2 mr-sm-2"
         placeholder="Filtrar por Nombre" />
         
        <button type="submit" class="btn btn-primary mr-sm-2 mb-2">Filtrar</button>          

</div>
    
</form>
<h1>Listado de Migrantes</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Numero_Identificacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var migrante in Model.migrante)
        {
            <tr>
                <td>@migrante.Numero_Identificacion</td>
                <td>@migrante.Nombre</td>
            <td>
                <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@migrante.Id">Detalle</a>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@migrante.Id">Editar</a>
            </td>
            </tr>
        }
        
    </tbody>
    
</table>
<a class="btn btn-primary" asp-page="./Create">Crear Migrante</a>
